EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyCR6qM9YqadzpqIIdNA11_tmGoDXGmfLrs
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=fJV8LMi0I28bvVdYShi8iROpz9nFPXjM8CYNHINs
EXPO_PUBLIC_FIREBASE_DATABASE_URL=https://smartgas-c6396-default-rtdb.firebaseio.com/
EXPO_PUBLIC_FIREBASE_PROJECT_ID=smartgas-c6396
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=smartgas-c6396.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=811496650686
EXPO_PUBLIC_FIREBASE_APP_ID=1:811496650686:android:52a5fa363c66c8b3f62bef